<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Cab Booking</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section class="wrapper">
  <h1>Sign Up</h1>
  <form class="form" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
    <input
      type="text"
      name="firstName"
      #firstname="ngModel"
      [(ngModel)]="user.firstname"
      placeholder="Firstname"
      pattern="[a-zA-Z]{3,}"
      required
    />
    <div
      class="text-danger"
      *ngIf="firstname.dirty && firstname.errors?.['required']"
    >
      Firstname is required
    </div>
    <div
      class="textdanger"
      *ngIf="firstname.dirty && firstname.errors?.['pattern']"
    >
      Only Alphabet are required in Firstname
    </div>
    <input
      type="text"
      name="lastName"
      #lastname="ngModel"
      [(ngModel)]="user.lastname"
      placeholder="Lastname"
      pattern="[a-zA-Z]{3,}"
      required
    />
    <div
      class="text-danger"
      *ngIf="lastname.dirty && lastname.errors?.['required']"
    >
      Lastname is required
    </div>
    <div
      class="textdanger"
      *ngIf="lastname.dirty && lastname.errors?.['pattern']"
    >
      Only Alphabet are required in Lastname
    </div>
    <input
      type="text"
      name="email"
      #email="ngModel"
      [(ngModel)]="user.email"
      placeholder="Email"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,}$"
      required
    />
    <div class="text-danger" *ngIf="email?.dirty && email?.invalid">
      Enter valid email
    </div>
    <input
      type="password"
      name="password"
      #password="ngModel"
      [(ngModel)]="user.password"
      placeholder="Password"
      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
      required
    />
    <div class="text-danger" *ngIf="password?.dirty && password?.invalid">
      Enter valid password
    </div>
    <button>Create Account</button>
    <div class="already">
      Already have an account?<a routerLink="/login">Login</a>
    </div>
  </form>
</section>
