.wrapper {
  margin: 30px auto;
}

h1 {
  margin: 12px;
}

.estimated {
  display: flex;
}

.estimated label {
  margin-left: 20px;
  margin-top: 5px;
}

.estimated input {
  width: 40%;
  padding: 6px;
  padding-left: 10px;
  font-weight: bold;
}
