<section class="wrapper">
  <h1>Driver Login</h1>
  <form
    class="form"
    #driverloginform="ngForm"
    (ngSubmit)="onSubmit(driverloginform)"
  >
    <input
      type="text"
      name="email"
      #email="ngModel"
      [(ngModel)]="user.email"
      placeholder="Email"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,}$"
      required
    />
    <div class="text-danger" *ngIf="email?.dirty && email?.invalid">
      Enter valid email
    </div>
    <input
      type="password"
      name="password"
      #password="ngModel"
      [(ngModel)]="user.password"
      placeholder="Password"
      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
      required
    />
    <div class="text-danger" *ngIf="password?.dirty && password?.invalid">
      Enter valid password
    </div>
    <button>Login</button>
  </form>
</section>
